<div class="container login-section">
    <div class="w-50 m-auto py-5">
        <div *ngIf='error' class="alert alert-danger">
            <p>{{error}}</p>
        </div>
        <!-- <h1>{{loginForm.get('first_name')?.errors|json}}</h1> -->
        <form [formGroup]='loginForm' class="login-form" (ngSubmit)='submitLoginForm(loginForm)'>
            <div class="form-group py-3 ">
                <label for="email ">email</label>
                <input type="email " formControlName='Email' class="form-control py-4 " id="email ">
            </div>
            <div class="form-group py-3 ">
                <label for="password ">password</label>
                <input type="password " formControlName='password' class="form-control py-4 " id="password ">
            </div>
            <button [disabled]='loginForm.invalid' class="btn btn-info " type="submit ">login</button>

        </form>
    </div>
</div>
